#FG

<tr ng-repeat="row in vm.tableSvc.datas | filter:vm.filterKey" ng-class="{'bb-yellow': $index+1 == vm.pertengahan}" class="ng-scope" style="">
    <td class="text-center ng-binding">1</td>

    <td class="text-center">
      <span id="lap-b96c2a85-f01c-40f3-8bd8-f28436030e91" class="ng-binding">SSA-1</span>
    </td>
    <td class="text-center ng-binding">27-02-2024 07:30</td>
    <td class="text-center ng-binding">
        U12
    </td>
    <td class="text-center ng-binding">
        Fase Grup U12 Tahap 1
    </td>
    <td class="text-center ng-binding" ng-show="!vm.adv.draw_type || vm.adv.draw_type == 2">
         A
    </td>
    <td class="text-center ng-binding ng-hide" ng-show="!vm.adv.draw_type || vm.adv.draw_type != 2">
      #47
    </td>
    <td class="text-right">
      <span ng-class="{'winner':row.pemenang==1}">
          <!-- ngIf: row.team1_player --><span ng-if="row.team1_player" class="ng-binding ng-scope">MI NU MASLAKUL HUDA U12</span><!-- end ngIf: row.team1_player -->
        <!-- ngIf: !row.team1_player && row.round !== 'R1' -->
        &nbsp;
          <!-- ngIf: row.group --><span ng-if="row.group" class="ng-binding ng-scope">
              (A1)
          </span><!-- end ngIf: row.group -->
      </span>
    </td>
    <td class="text-center">-</td>
    <td>
      <span ng-class="{'winner':row.pemenang==2}" class="winner">
          <!-- ngIf: row.group --><span ng-if="row.group" class="ng-binding ng-scope">
              (A3)
          </span><!-- end ngIf: row.group -->
          <!-- ngIf: row.team2_player --><span ng-if="row.team2_player" class="ng-binding ng-scope">MI NU BASYIRUL ANAM U12</span><!-- end ngIf: row.team2_player -->
        <!-- ngIf: !row.team2_player && row.round !== 'R1' -->
      </span>
    </td>
    <td class="text-center">
      <span ng-show="row.status_name" class="ng-binding">
        1 - 2
      </span>
      <div ng-show="row.status_name==='Finished' &amp;&amp; (row.team1_penalty_score > 0 || row.team2_penalty_score > 0)" class="ng-binding ng-hide">
        (0) - (0)
      </div>
    </td>
    <td class="text-center ng-binding">
      
    </td>
    <td class="text-center">
      <!-- ngIf: row.status_name --><span ng-if="row.status_name" class="winner ng-binding ng-scope text-success" ng-class="{'text-success': row.status_name=='Finished', 'text-danger': row.status_name=='Running', 'text-primary': ['Finished','Running'].indexOf(row.status_name) < 0}" id="status-b96c2a85-f01c-40f3-8bd8-f28436030e91">
        Finished
      </span><!-- end ngIf: row.status_name -->
    </td>
    
  </tr>


#SC
  <tr ng-repeat="row in vm.tableSvc.datas | filter:vm.filterKey" ng-class="{'bb-yellow': $index+1 == vm.pertengahan}" class="ng-scope">
    <td class="text-center ng-binding">3</td>

    <td class="text-center">
      <span id="lap-1feedc05-41e1-4fb8-b2df-e98f19de9545" class="ng-binding">SSA-Skill Challenge</span>
    </td>
    <td class="text-center ng-binding">27-02-2024 07:30</td>
    <td class="text-center ng-binding">
        U12
    </td>
    <td class="text-center ng-binding">
        U12 Shot on Target
    </td>
    <td class="text-center ng-binding ng-hide" ng-show="!vm.adv.draw_type || vm.adv.draw_type == 2">
        
    </td>
    <td class="text-center ng-binding" ng-show="!vm.adv.draw_type || vm.adv.draw_type != 2">
      #94
    </td>
    <td class="text-right">
      <span ng-class="{'winner':row.pemenang==1}" class="winner">
          <!-- ngIf: row.team1_player --><span ng-if="row.team1_player" class="ng-binding ng-scope">SD 1 PEDAWANG U12</span><!-- end ngIf: row.team1_player -->
        <!-- ngIf: !row.team1_player && row.round !== 'R1' -->
        &nbsp;
          <!-- ngIf: row.group -->
      </span>
    </td>
    <td class="text-center">-</td>
    <td>
      <span ng-class="{'winner':row.pemenang==2}">
          <!-- ngIf: row.group -->
          <!-- ngIf: row.team2_player --><span ng-if="row.team2_player" class="ng-binding ng-scope">SD 1 BARONGAN U12</span><!-- end ngIf: row.team2_player -->
        <!-- ngIf: !row.team2_player && row.round !== 'R1' -->
      </span>
    </td>
    <td class="text-center">
      <span ng-show="row.status_name" class="ng-binding">
        2 - 1
      </span>
      <div ng-show="row.status_name==='Finished' &amp;&amp; (row.team1_penalty_score > 0 || row.team2_penalty_score > 0)" class="ng-binding ng-hide">
        (0) - (0)
      </div>
    </td>
    <td class="text-center ng-binding">
      64 Besar
    </td>
    <td class="text-center">
      <!-- ngIf: row.status_name --><span ng-if="row.status_name" class="winner ng-binding ng-scope text-success" ng-class="{'text-success': row.status_name=='Finished', 'text-danger': row.status_name=='Running', 'text-primary': ['Finished','Running'].indexOf(row.status_name) < 0}" id="status-1feedc05-41e1-4fb8-b2df-e98f19de9545">
        Finished
      </span><!-- end ngIf: row.status_name -->
    </td>
    
  </tr>